RewriteEngine On
RewriteCond %{HTTP_HOST} !^viktormikeska\.com$ [NC]
RewriteRule ^(.*)$ https://viktormikeska.com/$1 [L,R=301]

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://viktormikeska.com/$1 [L,R=301]
